<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/img/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/plugins/aos/aos.css">

    <!-- Fearther CSS -->
    <link rel="stylesheet" href="~/css/feather.css">

    <!-- Owl carousel CSS -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Boxicons CSS -->
    <link rel="stylesheet" href="~/plugins/boxicons/css/boxicons.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</head><!--/head-->

<body>

    <div class="main-wrapper">
		<!-- Header -->
		<header class="header">
			<div class="container-fluid">
				<div class="contactinfo">
					<ul class="nav nav-pills">
						<li><a href="#"><i class="fa fa-phone"></i> +84 86 50 69 618</a></li>
						<li><a href="#"><i class="fa fa-envelope"></i> vungoctung098@gmail.com</a></li>
					</ul>
				</div>
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a asp-controller="Home" asp-action="Index" class="navbar-brand logo">
							<img src="~/images/Screenshot 2025-09-16 232527.png" class="img-fluid" alt="Logo">
						</a>
						<a asp-controller="Home" asp-action="Index" class="navbar-brand logo-small">
							<img src="~/img/logo-small.png" class="img-fluid" alt="Logo">
						</a>
					</div>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto">

							<!-- Admin Dashboard -->
							@{
								var username = Context.Session.GetString("Username");
								var role = Context.Session.GetString("Role");
							}
							@if (username != null && role == "admin")
							{
								<li class="nav-item">
									<a class="nav-link" asp-action="Index" asp-controller="Admin">
										<i class="fa fa-user"></i> Admin Dashboard
									</a>
								</li>
							}

							<!-- Account -->
							<li class="nav-item">
								<a class="nav-link" asp-action="Index" asp-controller="Account">
									<i class="fa fa-user"></i> Account
								</a>
							</li>

							<!-- Checkout -->
							<li class="nav-item">
								<a class="nav-link" asp-controller="Checkout" asp-action="Index">
									<i class="fa fa-crosshairs"></i> Checkout
								</a>
							</li>

							<!-- Cart -->
							<li class="nav-item">
								<a class="nav-link" asp-controller="Cart" asp-action="Index">
									<i class="fa fa-shopping-cart"></i> Cart
								</a>
							</li>

							<!-- Order History -->
							<li class="nav-item">
								<a class="nav-link" asp-controller="Checkout" asp-action="OrderHistory">
									&#128221; Order History
								</a>
							</li>

							<!-- Login / Logout -->
							@if (!string.IsNullOrEmpty(username))
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Login" asp-action="Logout">
										<i class="fa fa-lock"></i> Logout
									</a>
								</li>
							}
							else
							{
								<li class="nav-item">
									<a class="nav-link" asp-controller="Login" asp-action="Index">
										<i class="fa fa-lock"></i> Login
									</a>
								</li>
							}

							<!-- Welcome user -->
							@if (!string.IsNullOrEmpty(username))
							{
								<li class="nav-item">
									<span class="nav-link">
										<i class="fa fa-user"></i> Welcome, @username!
									</span>
								</li>
							}

							<!-- Search -->
							<li class="nav-item">
								<form asp-controller="Product" asp-action="Index" method="get" class="form-inline">
									<input type="hidden" name="cid" value="@ViewBag.Cid" />
									<input type="hidden" name="minPrice" value="@ViewBag.MinPrice" />
									<input type="hidden" name="maxPrice" value="@ViewBag.MaxPrice" />
									<input class="form-control" type="text" name="search" placeholder="Search" value="@ViewBag.Search" />
								</form>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->


        <div>
            @RenderBody()
        </div>
		<!-- Footer -->
		@* <footer class="footer">
			<!-- Footer Top -->
			<div class="footer-top aos" data-aos="fade-down">
				<div class="container">
					<div class="row">
						<div class="col-lg-7">
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">About Company</h5>
										<ul>
											<li>
												<a href="about.html">Our Company</a>
											</li>
											<li>
												<a href="javascript:void(0)">Shop Toyota</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrentals USA</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrentals Worldwide</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrental Category</a>
											</li>
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">Vehicles Type</h5>
										<ul>
											<li>
												<a href="javascript:void(0)">All  Vehicles</a>
											</li>
											<li>
												<a href="javascript:void(0)">SUVs</a>
											</li>
											<li>
												<a href="javascript:void(0)">Trucks</a>
											</li>
											<li>
												<a href="javascript:void(0)">Cars</a>
											</li>
											<li>
												<a href="javascript:void(0)">Crossovers</a>
											</li>
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
								<div class="col-lg-4 col-md-6">
									<!-- Footer Widget -->
									<div class="footer-widget footer-menu">
										<h5 class="footer-title">Quick links</h5>
										<ul>
											<li>
												<a href="javascript:void(0)">My Account</a>
											</li>
											<li>
												<a href="javascript:void(0)">Champaigns</a>
											</li>
											<li>
												<a href="javascript:void(0)">Dreamsrental Dealers</a>
											</li>
											<li>
												<a href="javascript:void(0)">Deals and Incentive</a>
											</li>
											<li>
												<a href="javascript:void(0)">Financial Services</a>
											</li>
										</ul>
									</div>
									<!-- /Footer Widget -->
								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="footer-contact footer-widget">
								<h5 class="footer-title">Contact Info</h5>
								<div class="footer-contact-info">
									<div class="footer-address">
										<span><i class="feather-phone-call"></i></span>
										<div class="addr-info">
											<a href="tel:+1(888)7601940">+ 1 (888) 760 1940</a>
										</div>
									</div>
									<div class="footer-address">
										<span><i class="feather-mail"></i></span>
										<div class="addr-info">
											<a href="/cdn-cgi/l/email-protection#6c1f191c1c031e182c09140d011c0009420f0301"><span class="__cf_email__" data-cfemail="91e2e4e1e1fee3e5d1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</span></a>
										</div>
									</div>
									<div class="update-form">
										<form action="#">
											<span><i class="feather-mail"></i></span>
											<input type="email" class="form-control" placeholder="Enter You Email Here">
											<button type="submit" class="btn btn-subscribe"><span><i class="feather-send"></i></span></button>
										</form>
									</div>
								</div>
								<div class="footer-social-widget">
									<ul class="nav-social">
										<li>
											<a href="javascript:void(0)"><i class="fa-brands fa-facebook-f fa-facebook fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-instagram fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-behance fi-icon"></i></a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-twitter fi-icon"></i> </a>
										</li>
										<li>
											<a href="javascript:void(0)"><i class="fab fa-linkedin fi-icon"></i></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<!-- Copyright -->
					<div class="copyright">
						<div class="row align-items-center">
							<div class="col-md-6">
								<div class="copyright-text">
									<p>© 2024 Dreams Rent. All Rights Reserved.</p>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Copyright Menu -->
								<div class="copyright-menu">
									<div class="vistors-details">
										<ul class="d-flex">
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/paypal.svg" alt="Paypal"></a></li>
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/visa.svg" alt="Visa"></a></li>
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/master.svg" alt="Master"></a></li>
											<li><a href="javascript:void(0)"><img class="img-fluid" src="assets/img/icons/applegpay.svg" alt="applegpay"></a></li>
										</ul>
									</div>
								</div>
								<!-- /Copyright Menu -->
							</div>
						</div>
					</div>
					<!-- /Copyright -->
				</div>
			</div>
			<!-- /Footer Bottom -->
		</footer> *@
		<!-- /Footer -->

	</div>

    <!-- scrollToTop start -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
        </svg>
    </div>
    <!-- scrollToTop end -->
    <!-- jQuery -->
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Aos -->
    <script src="~/plugins/aos/aos.js"></script>

    <!-- Datepicker Core JS -->
    <script src="~/plugins/moment/moment.min.js"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Slick JS -->
    <script src="~/plugins/slick/slick.js"></script>

    <!-- Owl Carousel JS -->
    <script src="~/js/owl.carousel.min.js"></script>

    <!-- Select2 JS -->
    <script src="~/plugins/select2/js/select2.min.js"></script>

    <!-- Top JS -->
    <script src="~/js/backToTop.js"></script>

    <!-- Sticky Sidebar JS -->
    <script src="~/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
    <script src="~/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

    <!-- Fancybox JS -->
    <script src="~/plugins/fancybox/fancybox.umd.js"></script>

    <!-- Custom JS -->
    <script src="~/js/script.js"></script>
</body>
</html>